<div class="pt-36 pb-40">
	<div
		class="items-start auto-cols-fr grid-cols-1 md:grid-cols-2 grid-rows-[auto] grid gap-[4.38rem]"
	>
		<h2 class="text-[3.13rem] leading-none font-semibold my-1">
			Frequently asked questions
		</h2>
		<div class="col-span-1 row-span-1 text-lg text-neutral-800">
			<div class="flex-col flex max-w-full m-auto">
				<div
					class="items-start flex-col justify-between flex w-full rounded-xl m-auto"
				>
					<div
						class="items-center border-b-black border-b-2 gap-x-[1.88rem] cursor-pointer flex-grow justify-between py-5 flex w-full border-solid m-auto"
					>
						<div class="text-black text-xl font-semibold">
							General questions about our courses
						</div>
						<div
							class="bg-black items-center justify-center flex w-10 h-10 rounded-full"
						>
							<img
								src="https://assets-global.website-files.com/619f5eb73edb835d991b0881/61a790bab05b982126cc227a_icons8-plus-240.png"
								class="align-middle inline-block w-4 h-4 max-w-full"
							/>
						</div>
					</div>
				</div>
				<div
					class="items-start flex-col justify-between flex w-full rounded-xl m-auto"
				>
					<div
						class="items-center border-b-black border-b-2 gap-x-[1.88rem] cursor-pointer flex-grow justify-between py-5 flex w-full border-solid m-auto"
					>
						<div class="text-black text-xl font-semibold">
							Getting started: FAQ for new learners
						</div>
						<div
							class="bg-black items-center justify-center flex w-10 h-10 rounded-full"
						>
							<img
								src="https://assets-global.website-files.com/619f5eb73edb835d991b0881/61a790bab05b982126cc227a_icons8-plus-240.png"
								class="align-middle inline-block w-4 h-4 max-w-full"
							/>
						</div>
					</div>
				</div>
				<div
					class="items-start flex-col justify-between flex w-full rounded-xl m-auto"
				>
					<div
						class="items-center border-b-black border-b-2 gap-x-[1.88rem] cursor-pointer flex-grow justify-between py-5 flex w-full border-solid m-auto"
					>
						<div class="text-black text-xl font-semibold">
							Technical queries and troubleshooting
						</div>
						<div
							class="bg-black items-center justify-center flex w-10 h-10 rounded-full"
						>
							<img
								src="https://assets-global.website-files.com/619f5eb73edb835d991b0881/61a790bab05b982126cc227a_icons8-plus-240.png"
								class="align-middle inline-block w-4 h-4 max-w-full"
							/>
						</div>
					</div>
				</div>
				<div
					class="items-start flex-col justify-between flex w-full rounded-xl m-auto"
				>
					<div
						class="items-center border-b-black border-b-2 gap-x-[1.88rem] cursor-pointer flex-grow justify-between py-5 flex w-full border-solid m-auto"
					>
						<div class="text-black text-xl font-semibold">
							Pricing and payment information
						</div>
						<div
							class="bg-black items-center justify-center flex w-10 h-10 rounded-full"
						>
							<img
								src="https://assets-global.website-files.com/619f5eb73edb835d991b0881/61a790bab05b982126cc227a_icons8-plus-240.png"
								class="align-middle inline-block w-4 h-4 max-w-full"
							/>
						</div>
					</div>
				</div>
				<div
					class="items-start flex-col justify-between flex w-full rounded-xl m-auto"
				>
					<div
						class="items-center border-b-black border-b-2 gap-x-[1.88rem] cursor-pointer flex-grow justify-between py-5 flex w-full border-solid m-auto"
					>
						<div class="text-black text-xl font-semibold">
							Certifications and course completion
						</div>
						<div
							class="bg-black items-center justify-center flex w-10 h-10 rounded-full"
						>
							<img
								src="https://assets-global.website-files.com/619f5eb73edb835d991b0881/61a790bab05b982126cc227a_icons8-plus-240.png"
								class="align-middle inline-block w-4 h-4 max-w-full"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
