---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

const currentLocale = Astro.currentLocale;
const allServices = await getCollection("services");

const services = allServices
  .filter((item) => !item.data.hidden)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

---

<main class="pt-36 pb-20">
  <h1 class="text-center text-4xl font-bold mb-10">Mis Servicios</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 px-6">
    {
      services.map(({ data }) => (
        <div class="flex flex-col items-start">
          {
            data.cover && (
              <Image
                src={data.cover}
                alt={`Cover ${data.title}`}
                class="w-12 h-12 mb-4"
              />
            )
          }
          <h3 class="text-xl font-semibold mb-2">{data.title}</h3>
          <p class="text-base text-gray-600">{data.description}</p>
        </div>
      ))
    }
  </div>
</main>
