---
import { ViewTransitions } from "astro:transitions";
import Head from "@/components/Head.astro";
import Footer from "@/components/footers/Footer.astro";
import Navigation from "@/components/headers/Navigation.astro";
import LinesWrapper from "@/components/primitives/LinesWrapper.astro";
import LoadingIndicator from "@/components/primitives/LoadingIndicator.astro";
import Widget from "@/components/primitives/Widget.astro";
import { getLocalizedSettings } from "@/lib/localization-helpers";
import type { SEOProps } from "astro-seo";
import { defineConfig } from "astro/config";
import icons from "astro-icon";
import { Icon } from "astro-icon/components";

const currentLocale = Astro.currentLocale;

const { widget } = getLocalizedSettings(currentLocale);

type Props = {
	seo?: SEOProps | MinimalSeo;
};

const { seo } = Astro.props;
---

<html lang={currentLocale}>
	<Head seo={seo}>
		<ViewTransitions />
	</Head>
	<body>
		<LoadingIndicator />
		<LinesWrapper />
		<div class="fixed top-4 left-1/2 -translate-x-1/2 z-50 flex gap-4">
          <a
            href="https://www.linkedin.com/in/julieta-npaez/"
            target="_blank"
            aria-label="LinkedIn"
            class="p-1 rounded-full hover:bg-gray-100/20 transition"
          >
            <Icon name="mdi:linkedin" size="22" class="text-gray-700" />
          </a>
          <a
            href="https://www.instagram.com/saldopositivo.eu/"
            target="_blank"
            aria-label="Instagram"
            class="p-1 rounded-full hover:bg-gray-100/20 transition"
          >
            <Icon name="mdi:instagram" size="22" class="text-gray-700" />
          </a>
          <a
            href="https://www.tiktok.com/@saldopositivo.eu"
            target="_blank"
            aria-label="TikTok"
            class="p-1 rounded-full hover:bg-gray-100/20 transition"
          >
            <Icon name="ri:tiktok-fill" size="22" class="text-gray-700" />
          </a>
        </div>

		<Navigation showTopBar />
		<div class="mb-32">
          <slot />
        </div>
		{widget.enabled && <Widget />}
		<Footer currentPath={Astro.url.pathname} />
	</body>
</html>
